option_settings:
  aws:elasticbeanstalk:application:environment:
    # Database configuration for PostgreSQL RDS
    DB_USER: "postgres"
    DB_PASSWORD: "postgres"
    DB_HOST: "misw4304.c3oq0ki80bq5.us-east-2.rds.amazonaws.com"
    DB_NAME: "postgres"
    SECRET_TOKEN: "jwt_secret_blacklist_xyz789_abc123"
    FLASK_ENV: "production"
    FLASK_DEBUG: "False"
