files:
  "/etc/httpd/conf.d/wsgi_custom.conf":
    mode: "000644"
    owner: root
    group: root
    content: WSGIApplicationGroup %{GLOBAL}

option_settings:
  aws:elasticbeanstalk:application:environment:
    DB_USER: postgres
    DB_PASSWORD: postgres
    DB_HOST: http://misw4304.c3oq0ki80bq5.us-east-2.rds.amazonaws.com/
    DB_PORT: 5432
    DB_NAME: postgres
    SECRET_TOKEN: secretoken