[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
marshmallow = "*"
sqlalchemy = "*"
psycopg2 = "*"
flask-sqlalchemy = "*"
importlib-metadata = "*"
pytest = "*"
pytest-flask = "*"
exceptiongroup = "*"
pytest-cov = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.9"